plugins:
  - jekyll-relative-links
relative_links:
  enabled: true
  collections: true
include:
  - README.md
  - LICENSE.md
url: https://machina-ratiocinatrix.github.io
baseurl: /search

title: Search
description: Search page for Machina Ratiocinatrix site.
